<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/HungCSS.css?version=2">
</head>
<body>
    <header>
        <h1>Welcome @ViewBag.UserName</h1>
    </header>

    <div id="content">
        <article>@RenderBody()</article>

    </div>

    <nav>
        <ul>
            <li><a href="@Url.Action("Home","Hung")">Home</a></li>
            <li>Shopping</li>
            <li>About</li>
            <li><a href="@Url.Action("ListAllProducts","Hung")">Show Products</a></li>
            <li><a href="@Url.Action("EnterNewProduct","Hung")">Add Products</a></li>
            <li><a href="@Url.Action("Index","Hung")">SignUp</a></li>
        </ul>
    </nav>

    <footer>
        -contact  -partners   -bleh   -bleh
    </footer>
</body>
</html>
